<div class="row">
  <div class="col-sm-4"></div>
    <div class="col-sm-4 panel" id="createAccauntpanel">
      <fieldset >
        <div id='createAccount'>
          <legend> User Account </span></legend>

          <!-- Text input-->
          <div class="input-group input-group-sm" >
            <label class="control-label">Username</label>
            <div class="controls">
              <input id="username" name="username" type="text" placeholder="Username" class="form-control input-small" 
              data-bind="value: username ">
              <p class="text-danger" id='usernamehelp' data-bind="visible: userenamexist"><small>Please, change Username<br> Username Exist</small></p>
            </div>
          </div>
          <br/>

          <!-- Password input-->
          <div class="input-group input-group-sm">
            <label class="control-label" >Password</label>
            <div class="controls">
              <input id="password" name="password" type="password" placeholder="Password" class="form-control input-small" data-bind="value: password, valueUpdate:'afterkeydown' ">
            </div>
          </div>
          <br/>

          <!-- Email input-->
          <div class="input-group input-group-sm">
            <label class="control-label">Email</label>
            <div class="controls">
              <input id="email" name="emil" placeholder="Email" class="form-control input-small" data-bind="value: email, valueUpdate:'afterkeydown' ">
            </div>
          </div>     
          <br/>

          <!-- Select Gender -->
          <div class="input-group input-group-sm">
            <label class="control-label">Gender</label>
            <div class="controls">
              <select id="gender" name="gender" class="form-control input-small" data-bind="value: gender">
                <option>male</option>
                <option>female</option>
              </select>
            </div>
          </div>
          <br/>

          <!-- Photo Button --> 
          <div >
            <label class="control-label">Photo</label>
            <div class="controls">
              <input id="photo" name="photo" type="file" data-bind=' photo'>
            </div>
          </div>
          <hr>

          <!-- Create Button -->
          <div class="input-group input-group-sm">
            <div class="controls">
              <button  class="btn btn-success " data-bind="visible: allowCreate,click: createAccount"> Create </button>
              <button onclick="location.href='/'" class="btn btn-warning "> Cancel </button> 
            </div>
          </div>
        </div>
      </fieldset>
  </div>
</div>